# Claude API
ANTHROPIC_API_KEY = "tu-api-key-de-claude"
ANTHROPIC_MODEL = "tu-modelo-de-claude"

# SMTP Configuration
SMTP_SERVER = "smtp.gmail.com"
SMTP_PORT = 587
SMTP_USER = "tu-email@gmail.com"
SMTP_PASSWORD = "tu-contraseña-de-aplicacion" # Generada en contraseñas de aplicaciones en https://myaccount.google.com/security
SMTP_RECIPIENT = "tu-email-destinatario@gmail.com"